
:root {
  --c-roodgradient: linear-gradient(to bottom right, #B9005F, #E30059);
}



.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  margin-top: 4em;
}
.progress-bar-fill {
height: 100%;
background-color: #E30059;
border-radius: 10px;
transition: width 0.25s ease;
filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.1));
width:0;
}


/* ==== Checklist ==========================================================================*/

.checklist{
  display: grid;
  grid-template-columns: 194px 1fr 5fr 194px;
  grid-template-rows: 2fr;
  height:100vh;
  grid-template-areas:
  ". checklist-left checklist-right ."
}

.icon h3{
  font-size:30pt;
}

.checklist-left{
  grid-area: checklist-left;
  margin-top:14em;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.04));
}

@media only screen and (max-width: 1680px) {

  .checklist-box > form > label > p {
    font-size:20px!important;
  }

  .checklist-left{
    margin-top:11em;
  }

  .checklist-right{
    margin-top:4.5em!important;
  }

  input[type="button"] {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 20px;
    margin:1em;
    margin-top:2em!important;
    background-color: white;
    font-size:16px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.08));
  }

  .checklist-box{
    height:480px!important;
  }
  

}

.checklist-left > div {
  height:67px;
  background-color:white;
  border: 0px solid #FBFBFF;
  margin-top:-3px;
  /*text-align:center;*/
  padding-top:40px;
  padding-left: 35px;
  font-size:24px;
  font-weight:600;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #ddd;  
}

.checklist-active-cat{
  border-left-width: 10px!important;
  border-left-style: solid!important;
  border-left-color: #606EB3!important;
  /*border-image:linear-gradient(to right, grey 1%, white 1%) 5!important;*/ 
  border-width:10px;
  padding-left:25px!important;
}

.checklist-right{
  grid-area: checklist-right;
  padding-left:7em;
  padding-top:5em;
  margin-top:5em;
}

.checklist-box{
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.04));
  background:white;  
  border-radius:30px;
  width:auto;
  height:530px;
  padding-top:3.3em;
  padding-left:4.2em;
  padding-right:4.2em;
  margin-top:2.55em;
  margin-bottom:3em;

}

.checklist-box > form > label > h1 {
  padding:0;
  padding-bottom:0.55em;
  margin:0;
}

.checklist-box > form > label > p {
  margin:0;
  font-weight:300;
  
}

.input-buttons {
  text-align:center;
}

input[type="button"] {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 20px;
  margin:1em;
  margin-top:3em;
  background-color: white;
  font-size:16px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.08));
}

